inbm/dispatcher-agent/fpm-template/usr/share/dispatcher-agent/manifest_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
     <xs:simpleType name="sourceType">
          <xs:restriction base="xs:string">
                <xs:enumeration value="application"/>
                <xs:enumeration value="os"/>
    	  </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Chars">
         <xs:restriction base="xs:string">
             <xs:maxLength value="50"/>
         </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MinDecimalZero">
         <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
         </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PathMax1500Chars">
         <xs:restriction base="xs:string">
             <xs:maxLength value="1500"/>
         </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SigMax1000Chars">
         <xs:restriction base="xs:string">
             <xs:maxLength value="1000"/>
         </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="URLMax700Chars">
         <xs:restriction base="xs:anyURI">
             <xs:maxLength value="700"/>
         </xs:restriction>
    </xs:simpleType>
   <xs:simpleType name="Max200Chars">
         <xs:restriction base="xs:string">
             <xs:maxLength value="200"/>
         </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValidGuidFormat">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                The representation of a GUID, generally the id of an element.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PackageList">
        <xs:restriction base="xs:string">
            <xs:pattern value="(([a-zA-Z0-9][a-zA-Z0-9+.-]*(:[a-zA-Z0-9][a-zA-Z0-9+.-]*)?)(,[a-zA-Z0-9][a-zA-Z0-9+.-]*(:[a-zA-Z0-9][a-zA-Z0-9+.-]*)?)*)?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="manifest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="config"/>
                            <xs:enumeration value="ota"/>
                            <xs:enumeration value="cmd"/>
                            <xs:enumeration value="source"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="cmd" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="custom"/>
                            <xs:enumeration value="query"/>
                            <xs:enumeration value="shutdown"/>
                            <xs:enumeration value="restart"/>
                            <xs:enumeration value="decommission"/>
                            <xs:enumeration value="provisionNode"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="config" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cmd">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="get_element"/>
                                        <xs:enumeration value="set_element"/>
                                        <xs:enumeration value="load"/>
                                        <xs:enumeration value="append"/>
                                        <xs:enumeration value="remove"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="targetType" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="vision"/>
                                        <xs:enumeration value="node"/>
                                        <xs:enumeration value="node_client"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="configtype">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="targets" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="target" type="Max50Chars" minOccurs="1"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:choice>
                                            <xs:element ref="get"/>
                                            <xs:element ref="set"/>
                                            <xs:element ref="load"/>
                                            <xs:element ref="append"/>
                                            <xs:element ref="remove"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="custom" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="data" type="PathMax1500Chars" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="provisionNode" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="fetch" type="URLMax700Chars"/>
                            <xs:element name="signature" type="SigMax1000Chars" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="hash_algorithm" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="384"/>
                                        <xs:enumeration value="512"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="username" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="password" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="query" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                             <xs:element name="option">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="all"/>
                                        <xs:enumeration value="hw"/>
                                        <xs:enumeration value="fw"/>
                                        <xs:enumeration value="os"/>
                                        <xs:enumeration value="status"/>
                                        <xs:enumeration value="version"/>
                                        <xs:enumeration value="security"/>
                                        <xs:enumeration value="guid"/>
                                        <xs:enumeration value="swbom"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="targetType" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="vision"/>
                                        <xs:enumeration value="node"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="targets" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="target" type="Max50Chars" minOccurs="1" maxOccurs="50"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="restart" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="targetType" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="node"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="targets" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="target" type="Max50Chars" minOccurs="1" maxOccurs="50"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="ota" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="header">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="id" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="name" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="description" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="type">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="aota"/>
                                                    <xs:enumeration value="fota"/>
                                                    <xs:enumeration value="sota"/>
                                                    <xs:enumeration value="pota"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="repo">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="local"/>
                                                    <xs:enumeration value="remote"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="type">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element ref="aota"/>
                                        <xs:element ref="fota"/>
                                        <xs:element ref="sota"/>
                                        <xs:element ref="pota"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="bundle" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="version" type="MinDecimalZero"/>
                                        <xs:element name="signature" type="xs:string"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="osSource" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="add" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="repos" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="source_pkg" type="PathMax1500Chars" minOccurs="1" maxOccurs="25"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="update" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="repos" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="source_pkg" type="PathMax1500Chars" minOccurs="1" maxOccurs="25"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>                                        
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="remove" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="repos" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="source_pkg" type="PathMax1500Chars" minOccurs="1" maxOccurs="25"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="list" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>

                <xs:element name="applicationSource" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="add" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="gpg" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="uri" type="PathMax1500Chars" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="keyname" type="Max200Chars" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="repo" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="repos" minOccurs="1" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="source_pkg" type="Max200Chars" minOccurs="1" maxOccurs="2"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="filename" type="Max200Chars" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="update" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="repo" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="repos" minOccurs="1" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="source_pkg" type="Max200Chars" minOccurs="1" maxOccurs="2"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="filename" type="Max200Chars" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="remove" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="gpg" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="keyname" type="Max50Chars" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="repo" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="filename" type="Max200Chars" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="list" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="get">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="PathMax1500Chars"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="set">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="PathMax1500Chars"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="load">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fetch" type="URLMax700Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="path" type="PathMax1500Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="signature" type="SigMax1000Chars" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="append">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="PathMax1500Chars"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="remove">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="PathMax1500Chars"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="aota">
        <xs:complexType>
            <xs:all>
                <xs:element name="cmd">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="down"/>
                            <xs:enumeration value="import"/>
                            <xs:enumeration value="list"/>
                            <xs:enumeration value="load"/>
                            <xs:enumeration value="pull"/>
                            <xs:enumeration value="remove"/>
                            <xs:enumeration value="stats"/>
                            <xs:enumeration value="up"/>
                            <xs:enumeration value="update"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="app">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="docker"/>
                            <xs:enumeration value="btrfs"/>
                            <xs:enumeration value="compose"/>
                            <xs:enumeration value="application"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="configParams" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="fetch" type="URLMax700Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="file" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="version" type="MinDecimalZero" minOccurs="0" maxOccurs="1"/>
                <xs:element name="sigversion" type="sigversion" minOccurs="0" maxOccurs="1"/>
                <xs:element name="containerTag" type="Max200Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="deviceReboot" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="username" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="password" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="dockerRegistry" type="Max200Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="dockerUsername" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="dockerPassword" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
            </xs:all>
            <xs:attribute name="name" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="fota">
        <xs:complexType>
            <xs:all>
                <xs:element name="targetType" minOccurs="0" maxOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="host"/>
                            <xs:enumeration value="node"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="targets" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="target" type="Max50Chars" minOccurs="1" maxOccurs="30"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="fetch" type="URLMax700Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="biosversion" type="Max50Chars"/>
                <xs:element name="sigversion" type="sigversion" minOccurs="0" maxOccurs="1"/>
                <xs:element name="signature" type="SigMax1000Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="manufacturer" type="Max50Chars"/>
                <xs:element name="product" type="Max50Chars"/>
                <xs:element name="productversion" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="vendor" type="Max50Chars"/>
                <xs:element name="releasedate" type="xs:date"/>
                <xs:element name="path" type="PathMax1500Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="boot" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="guid" type="ValidGuidFormat" minOccurs="0" maxOccurs="1"/>
                <xs:element name="size" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="tooloptions" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="username" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="password" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="deviceReboot" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
            </xs:all>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="sigversion">
        <xs:restriction base="xs:decimal">
            <xs:enumeration value="384"/>
            <xs:enumeration value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="logType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Yes"/>
            <xs:enumeration value="No"/>
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
            <xs:enumeration value="Y"/>
            <xs:enumeration value="N"/>
            <xs:enumeration value="n"/>
            <xs:enumeration value="y"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sotacmd">
        <xs:restriction base="xs:string">
            <xs:enumeration value="update"/>		
            <xs:enumeration value="upgrade"/>
    	</xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sotamode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="full"/>
            <xs:enumeration value="no-download"/>
            <xs:enumeration value="download-only"/>
    	</xs:restriction>
    </xs:simpleType>

    <xs:element name="sota">
        <xs:complexType>
            <xs:all>
                <xs:element name="cmd">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="sotacmd">
                                <xs:attribute name="logtofile" type="logType"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
	 	        <xs:element name="mode" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="sotamode">
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="package_list" type="PackageList" minOccurs="0" maxOccurs="1"/>
		        <xs:element name="targetType" minOccurs="0" maxOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="host"/>
                            <xs:enumeration value="node"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="targets" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="target" type="Max50Chars" minOccurs="1" maxOccurs="50"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="fetch" type="URLMax700Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="signature" type="SigMax1000Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="username" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="password" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="release_date" type="xs:date" minOccurs="0" maxOccurs="1"/>
                <xs:element name="path" type="PathMax1500Chars" minOccurs="0" maxOccurs="1"/>
                <xs:element name="deviceReboot" type="Max50Chars" minOccurs="0" maxOccurs="1"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="pota">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="targetType" minOccurs="0" maxOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="host"/>
                            <xs:enumeration value="node"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="targets" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="target" type="Max50Chars" minOccurs="1" maxOccurs="50"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="fota"/>
                <xs:element ref="sota"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
