inbm-vision/node-agent/fpm-template/usr/share/node-agent/node_xlink_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="message">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="registerResponse"/>
                <xs:element ref="requestToDownload"/>
                <xs:element ref="otaUpdate"/>
                <xs:element ref="sendFileResponse"/>
                <xs:element ref="downloadStatus"/>
                <xs:element ref="otaResult"/>
                <xs:element ref="telemetryEvent"/>
                <xs:element ref="heartbeat"/>
                <xs:element ref="heartbeatResponse"/>
                <xs:element ref="reregister"/>
                <xs:element ref="isAlive"/>
                <xs:element ref="getConfigValues"/>
                <xs:element ref="setConfigValues"/>
                <xs:element ref="appendConfigValues"/>
                <xs:element ref="removeConfigValues"/>
                <xs:element ref="configRequest"/>
                <xs:element ref="restart"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="registerResponse">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="heartbeatIntervalSecs" type="xs:int"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="requestToDownload">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="size_kb" type="xs:int"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="otaUpdate">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="manifest">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="type">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="ota"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ota" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="header">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                                <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                                <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                                <xs:element name="type">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:enumeration value="fota"/>
                                                                            <xs:enumeration value="sota"/>
                                                                            <xs:enumeration value="pota"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="repo" type="xs:string"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="type">
                                                        <xs:complexType>
                                                            <xs:choice>
                                                                <xs:element ref="fota"/>
                                                                <xs:element ref="sota"/>
                                                                <xs:element ref="pota"/>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="sotacmd">
        <xs:restriction base="xs:string">
            <xs:enumeration value="update"/>
            <xs:enumeration value="upgrade"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="fota">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="xs:string"/>
                <xs:element name="biosversion" type="xs:string"/>
                <xs:element name="vendor" type="xs:string"/>
                <xs:element name="manufacturer" type="xs:string"/>
                <xs:element name="product" type="xs:string"/>
                <xs:element name="releasedate" type="xs:date"/>
                <xs:element name="signature" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="logType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Yes"/>
            <xs:enumeration value="No"/>
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
            <xs:enumeration value="Y"/>
            <xs:enumeration value="N"/>
            <xs:enumeration value="n"/>
            <xs:enumeration value="y"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="sota">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cmd">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="sotacmd">
                                <xs:attribute name="logtofile" type="logType"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="signature" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="username" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="password" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="path" type="xs:string"/>
                <xs:element name="release_date" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

   <xs:element name="pota">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fota">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="path" type="xs:string"/>
                            <xs:element name="biosversion" type="xs:string"/>
                            <xs:element name="vendor" type="xs:string"/>
                            <xs:element name="manufacturer" type="xs:string"/>
                            <xs:element name="product" type="xs:string"/>
                            <xs:element name="releasedate" type="xs:date"/>
                            <xs:element name="signature" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sota">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cmd">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="sotacmd">
                                            <xs:attribute name="logtofile" type="logType"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="path" type="xs:string"/>
                            <xs:element name="release_date" type="xs:date"/>
                            <xs:element name="signature" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="sendFileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="sendDownload" type="xs:boolean"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="downloadStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="status" type="xs:boolean"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="otaResult">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="result" type="xs:string"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="telemetryEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="telemetryMessage">
                            <xs:simpleType>
                                <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="heartbeat">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="id"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="heartbeatResponse">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="id"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="reregister">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="id"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="isAlive">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="id"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getConfigValues">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="targetType" type="xs:string"/>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="6"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="setConfigValues">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="targetType" type="xs:string"/>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="6"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="appendConfigValues">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="targetType" type="xs:string"/>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="key" type="xs:string"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="removeConfigValues">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="targetType" type="xs:string"/>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="key" type="xs:string"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="configRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="manifest">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="type">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="config"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>

                                        <xs:element name="config" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="cmd">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="get_element"/>
                                                                <xs:enumeration value="set_element"/>
                                                                <xs:enumeration value="load"/>
                                                                <xs:enumeration value="append"/>
                                                                <xs:enumeration value="remove"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="targetType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="master"/>
                                                                <xs:enumeration value="vision"/>
                                                                <xs:enumeration value="node"/>
                                                                <xs:enumeration value="node_client"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="configtype">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="targets" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="target" type="xs:string" minOccurs="1" maxOccurs="6"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:choice>
                                                                    <xs:element ref="get"/>
                                                                    <xs:element ref="set"/>
                                                                    <xs:element ref="load"/>
                                                                    <xs:element ref="append"/>
                                                                    <xs:element ref="remove"/>
                                                                </xs:choice>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="get">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="set">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="load">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="xs:string"/>
                <xs:element name="signature" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="append">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="remove">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="restart">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="manifest">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="type" type="xs:string"/>
                                        <xs:element name="cmd" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
